.welcome-panel {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 23px;
}
.welcome-logo {
    text-align: center;
    margin-bottom: 15px;
}
.welcome-panel-logo img{
    width: 50%;
}
.welcome-panel .welcome-panel-column {
    width: 47%;
    padding-right: 6%;
}

.welcome-panel .welcome-panel-column:last-child {
    padding-right: 0;
}
.welcome-panel .welcome-panel-close {
    display: none !important;
}
.top-left-welcome-panel-content {
    text-align: left;
}
.top-left-welcome-panel-logo {
    display: inline-block;
}

.welcome-title h1 {
    font-weight: 700;
    font-size: 
}
.welcome-panel-column ul {
    float:left;
    margin: auto !important;
    width: 50%;
}

.contact-form input {
    width: 48%;
    padding: 10px 10px;
    margin: 0px;
    margin-top: 15px;
    float: left;
    background-color: #f1f1f1;
}

.contact-form input:first-child {
    margin-right: 4%;
}

.contact-form .subject {
    width: 100%;
}

.contact-form textarea {
    width: 100%;
    margin-top: 15px;
    padding: 10px 10px;
    background-color: #f1f1f1;
}

.contact-form .submit-button {
    float: right;
}

.welcome-bottom {
  text-align: center;
}

.additional-services h2  {
  font-weight: 700;
}

.service-icons .service-row {
    width: 100%;
    display: inline-block;
    padding-top: ;
}

.service-icons .service {
    float: left;
    width: 25%;
    padding-top: 15px;
}

.service-icons .service-icon {
    padding: 10px;
}

.service-label {
    font-size: 16px;
    font-weight: 700;
}

div.break {
    clear: both;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.service:hover {
    color: #2ea3f2;
}

#side-sortables, .ui-sortable.empty-container {
    display: none;
}

#form-message {
    float: left;
    font-weight: bold;
}

@media only screen and ( max-width: 870px ) {
    
    .welcome-panel .welcome-panel-column {
        width: 100%;
        margin: auto;
    }

    .welcome-panel .welcome-panel-column li {
        width: 100%;
    }
    
    .welcome-panel-last h3 {
        clear: both;
    }

}